<header>
    <nav class="bg-gray-800 shadow">
        <div class="container px-6 py-4 mx-auto">
            <div class="sm:flex sm:items-center sm:justify-between">
                <div class="flex items-center justify-between">
                    <svg class="h-10 animate:spin" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 72 72" style="enable-background:new 0 0 72 72;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#FFFFFF;}
                        </style>
                        <path class="st0" d="M56.02,0H15.98C7.17,0,0,7.17,0,15.98v40.04C0,64.83,7.17,72,15.98,72h40.04C64.83,72,72,64.83,72,56.02V15.98
                            C72,7.17,64.83,0,56.02,0z M15.98,35.7c0-7.84,6.38-14.22,14.22-14.22c3.72,0,7.24,1.43,9.91,4.03c2.66,2.59,4.19,6.05,4.3,9.74
                            c0.01,0.14,0.01,0.28,0.01,0.42c0,0.6-0.24,1.17-0.66,1.6c-0.42,0.42-1,0.66-1.59,0.66h-0.74c-1.24,0-2.25-1.02-2.25-2.26
                            c0-0.07,0-0.14-0.01-0.2v-0.05c-0.15-4.79-4.18-8.69-8.97-8.69c-4.95,0-8.98,4.03-8.98,8.97v17.7c0,1.25-1.01,2.25-2.25,2.25h-0.74
                            c-1.24,0-2.25-1-2.25-2.25C15.98,53.4,15.98,35.7,15.98,35.7z M41.8,50.52c-3.72,0-7.24-1.43-9.91-4.03
                            c-2.66-2.59-4.19-6.05-4.3-9.74c-0.01-0.15-0.01-0.3-0.01-0.45v-0.04c0.01-1.23,1.02-2.22,2.25-2.22h0.74
                            c1.24,0,2.25,1.01,2.25,2.25c0,0.01,0,0.01,0,0.02c0,0.07,0,0.15,0.01,0.22v0.05c0.15,4.79,4.18,8.69,8.97,8.69
                            c4.95,0,8.98-4.03,8.98-8.97V18.6c0-1.25,1.01-2.25,2.25-2.25h0.74c1.24,0,2.25,1,2.25,2.25v17.7
                            C56.02,44.14,49.64,50.52,41.8,50.52z"/>
                    </svg>
        
                    <!-- Mobile menu button -->
                    <div class="flex sm:hidden">
                        <button type="button" class="navbar-burger inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-800 focus:outline-none" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <!--
                              Icon when menu is closed.
                  
                              Heroicon name: outline/menu
                  
                              Menu open: "hidden", Menu closed: "block"
                            -->
                            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                            <!--
                              Icon when menu is open.
                  
                              Heroicon name: outline/x
                  
                              Menu open: "block", Menu closed: "hidden"
                            -->
                            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                          </button>                    </div>
                </div>

                <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a href="#" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
                        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Projects</a>
                        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contact</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="hidden navbar-menu sm:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>

            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>

            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>

            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
            </div>
        </div>
    </nav>
</header>

<!-- Toggles mobile menu -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const burger = document.querySelector('.navbar-burger');
        const menu = document.querySelector('.navbar-menu');

        burger.addEventListener('click', function() {
            menu.classList.toggle('hidden');
        });
    })
</script>